navbar {
     padding: 0px;
}

h2 {
     font-size: 10vw;
     color: white;
     text-shadow: -0.25vw 0 darkred, 0 0.25vw darkred, 0.25vw 0 darkred, 0 -0.25vw darkred
} 

/* text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px; */

/* h2 {
     font-size: 10vw;
     color:white;
     background: repeating-linear-gradient(
          45deg,
          #606dbc,
          #606dbc 10px,
          #465298 10px,
          #465298 20px
        );     
        text-shadow: -0.25vw 0 black, 0 0.25vw black, 0.25vw 0 black, 0 -0.25vw black
}         */

#text {
     font-size:  3.5vw; 
     line-height: 30px; 
     font-weight: 800; 
     align-items: left; 
     font-family: 'Libre Baskerville', serif;
     color: beige;
     position: absolute;
     z-index: 999;
     margin: 0 auto;
     left: 0;
     right: 65%;
     top: 0%;
     text-shadow: 2px 5px 10px #CE5937;
}

td {
     position: relative;
     display: inline-block
}